<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">以太坊改进提案</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">以太坊改进提案</li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>登链社区翻译只为分享优质内容。<br/>
        <a href="https://learnblockchain.cn/" target="_blank">登链社区</a>始于 2017 年，通过高质量内容平台和<a href="https://learnblockchain.cn/openspace/1" target="_blank">线上线下集训营</a>，助力 Web3 开发者成长</p>
      </div>

    </div>

  </div>

</footer> 